name: Delete_Old_Workflows

on:
  workflow_dispatch:
  schedule:
    - cron: 0 16 * * *

jobs:
  Clean-Workflows:
    runs-on: ubuntu-22.04
    permissions:
      actions: write
    steps:
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ secrets.BUILD_AZEROTHCORE }}
          keep_minimum_runs: 5
          retain_days: 0
